.choose-wrapper {
  max-width: 90%;
  margin: auto;
  padding: 0;
}

.line {
  width: 30vw;
}

.choose-body p {
  max-width: 40vw;
}

@media screen and (max-width: 932px) {
  .choose-body h1 {
    margin-bottom: 1.5rem;
  }

  .choose-body p {
    margin: 2rem auto 3rem auto;
    max-width: 80vw;
    text-align: center;
  }

  .line {
    width: 40vw;
  }

  .choose-cards {
    margin: auto;
    margin-bottom: 3rem;
  }
}
