/* .body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: white;
}
.wrapper {
	max-width: 90%;
	margin: auto;
}
.form {
	margin: auto;
	max-width: 60vw;
}
.header h1 {
	text-align: center;
	color: black;
	font-size: 40px;
}

.header p {
	margin: auto;
	max-width: 30%;
}

.email-field {
	margin: auto;
	padding: 0 10rem;
}

.location-section h4 {
	font-size: 20px;
}

@media screen and (max-width: 600px) {
	.header p {
		max-width: 70%;
	}
	.first-section {
		margin: auto;
		text-align: center;
	}
	.second-section h4 {
		text-align: center;
		margin-bottom: 1rem;
	}
	.second-section p {
		margin-bottom: 2rem;
	}
	.third-section h4 {
		text-align: center;
		margin-bottom: 1rem;
	}
} */
