.minimalist-wrapper {
  max-width: 90%;
  margin: auto;
  padding: 0;
}

.minimalist-img{
    width: 100%;
}

.minimalist-pics{
  max-height: 70vh;
}

.ma-pics{
  width: 100%;

}


@media screen and (max-width: 932px) {
}


